.kvantums{
	margin-top: 350px;
	position: relative;
	h2{
		font-weight: 900;
		letter-spacing: -0.04em;
		color: #222;
		font-size: 64px;
		transition: 0.2s;
		cursor: default;
		margin-top: -150px;
		margin-right: 100px;
	}
	h3{
		font-size: 28px;
		font-weight: bold;
	}
	p{
		font-size: 18px;
	}
	.kvan{
		margin-top: 50px;
	}
}